@font-face {
	font-family: "heavy"; /* 字体的名字 */
	src: url("fonts/heavy.ttf"); /* 字体文件的路径 */
	font-display: block;
}
@font-face {
	font-family: "kai"; /* 字体的名字 */
	src: url("fonts/kai-Simplified-Chinese.ttf"); /* 字体文件的路径 */
	font-display: block;
}


/*整体*/
body {
	font-family: "heavy";
	text-align: center;
	margin: 0px;
	height: 100%;
	background-image: linear-gradient(45deg,rgb(15.0,12.0,28.5),rgb(16.5,12.0,25.5),rgb(10.5,21.0,34.5),rgb(10.5,16.5,36.0),rgb(21.0,12.0,34.5)); /*渐变背景*/
	background-size: 400%; /*渐变背景*/
	animation: bganimation 15s infinite; /*渐变背景*/
}
html {
	height: 100%;
}


/*头部*/
#headInfo {
	background-image: url('images/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "kai";
	color: lightgrey;
	margin: 0px;
}

/*主体*/
#mainText {
	margin:0px;
	font-size: larger;
	color: lightgrey;
	margin-left: 5%;
	margin-right: 5%;
}
#main {
	background-image: url('images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}
#titleText {
	margin: 0px;
	font-size: xx-large;
	color: lightgrey;
	line-height: 0px;
}
#rules {
	color: black;
	margin: 0px;
	font-size: larger;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
}
#identity {
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
}
#blank {
	height: 600px;
}
#below {
	background: linear-gradient(rgba(255, 255, 255,0),1%,rgba(255, 255, 255,1));
}
#ad {
	position: fixed;
	left: 0;
	bottom: 0;
	border-style: dotted;
	background-color:rgba(255,255,255,0.33);
}
#redirecter {
	font-family: "kai";
	margin: 0px;
	font-size: x-large;
	margin-left: 5%;
	margin-right: 5%;
	color: lightgray;
}
#inline {
	height: 150px;
	color: lightgray;
	font-size: x-large;
	font-family: kai;
	text-shadow:2px 2px 1px black;
}
p {
	text-shadow: 1px 1px 1px black;
}
#bigger {
	font-size: xx-large;
	text-align:left;
}

/*渐变背景*/
@keyframes bganimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}